openapi: 3.0.1
info:
    title: Cisco Security Cloud Control Firewall Manager API
    version: 1.20.0
    description: Use the documentation to explore the endpoints Security Cloud Control Firewall Manager has to offer
    contact:
        name: Cisco Security Cloud Control TAC
        email: cdo.tac@cisco.com
paths:
    /v1/application-insights/outages:
        get:
            description: Get a list of application outages that started in the specified time period
            operationId: getApplicationOutages
            parameters:
                - description: Start time for outage (UTC; represented using the RFC-3339 standard, inclusive)
                  example: 2025-01-01T00:00:00Z
                  in: query
                  name: start
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: End time for outage (UTC; represented using the RFC-3339 standard, exclusive)
                  example: 2025-01-31T23:59:59Z
                  in: query
                  name: end
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Relative time range (mutually exclusive with start/end).
                  example: 24h
                  in: query
                  name: timeRange
                  required: false
                  schema:
                    enum:
                        - 24h
                        - 7d
                        - 30d
                    type: string
                - description: Filter by application name
                  example: Webex
                  in: query
                  name: applicationName
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PublicThousandEyesOutageDto'
                    description: List of application outages that started in the specified time period
                "400":
                    $ref: '#/components/responses/http400BadRequest'
                "401":
                    $ref: '#/components/responses/http401Unauthorised'
                "403":
                    $ref: '#/components/responses/http403Forbidden'
                "405":
                    $ref: '#/components/responses/http405MethodNotAllowed'
            security:
                - bearerAuth: []
            summary: Get Application Outages
            tags:
                - Application Insights
servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.uae.security.cisco.com/firewall
      description: UAE
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://devfed.cdo.cisco.com/api/rest
      description: Devfed
    - url: https://manage.dev.secure.cisco/api/rest
      description: Devf9
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    - url: https://manage.secure.cisco/api/rest
      description: ProdF9
    - url: https://manage.securitydod.cisco/api/rest
      description: IL5
components:
    schemas:
        PublicThousandEyesOutageDto:
            properties:
                affectedDomains:
                    items:
                        type: string
                    type: array
                alertId:
                    format: uuid
                    type: string
                applicationName:
                    type: string
                durationSeconds:
                    format: int32
                    type: integer
                end:
                    format: date-time
                    type: string
                errors:
                    items:
                        type: string
                    type: array
                outageType:
                    type: string
                regions:
                    items:
                        type: string
                    type: array
                severity:
                    type: string
                start:
                    format: date-time
                    type: string
            type: object
    securitySchemes:
        bearerAuth:
            bearerFormat: JWT
            scheme: bearer
            type: http
