openapi: 3.0.1
info:
  title: CDO API
  description: Use the documentation to explore the endpoints CDO has to offer
  contact:
    name: CDO TAC
    email: cdo.tac@cisco.com
  version: 1.2.0
servers:
- url: https://edge.us.cdo.cisco.com/api/rest
  description: US
- url: https://edge.eu.cdo.cisco.com/api/rest
  description: EU
- url: https://edge.apj.cdo.cisco.com/api/rest
  description: APJ
- url: https://edge.aus.cdo.cisco.com/api/rest
  description: AUS
- url: https://edge.in.cdo.cisco.com/api/rest
  description: IN
- url: https://edge.staging.cdo.cisco.com/api/rest
  description: Staging
- url: https://edge.scale.cdo.cisco.com/api/rest
  description: Scale
- url: https://edge.ci.cdo.cisco.com/api/rest
  description: CI
paths:
  /v1/cdfmc/**:
    get:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    put:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_2
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_1
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_4
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_3
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/{deviceUid}/terminate:
    post:
      tags:
      - Remote Access Monitoring
      summary: Terminate RA VPN Sessions
      description: This is an asynchronous operation to terminate all RA VPN sessions
        on a device in the CDO tenant. This operation returns a link to a transaction
        object that can be used to monitor the progress of the operation.
      operationId: terminateRaVpnSessionsByDevice
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the termination operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/{deviceUid}/terminate/{userName}:
    post:
      tags:
      - Remote Access Monitoring
      summary: Terminate User's RA VPN Sessions
      description: This is an asynchronous operation to terminate all of a user's
        RA VPN sessions on a device in the CDO tenant. This operation returns a link
        to a transaction object that can be used to monitor the progress of the operation.
      operationId: terminateRaVpnSessionsByDeviceAndUserName
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: userName
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the termination operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/refresh:
    post:
      tags:
      - Remote Access Monitoring
      summary: Refresh RA VPN Sessions
      description: This is an asynchronous operation to refresh RA VPN sessions for
        all devices in the CDO tenant.
      operationId: refreshRaVpnSessionsByDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RaVpnDeviceInput'
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the refresh operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users:
    get:
      tags:
      - Users
      summary: Get Tenant Users
      description: Get a list of users associated with the CDO tenant.
      operationId: getUsers
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of User objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Users
      summary: Create User in CDO Tenant
      description: "Create a user in the CDO tenant. The user may already exist and\
        \ have access to other tenants, in which case this endpoint adds the user\
        \ to this tenant."
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users/{apiUserUid}/apiToken/revoke:
    post:
      tags:
      - Users
      summary: Revoke API-only User's Token
      description: "Revoke API Token of API-only user. If the user ID provided is\
        \ not that of an API-only user, this operation will fail."
      operationId: revokeApiToken
      parameters:
      - name: apiUserUid
        in: path
        description: The unique identifier of the API user in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusInfo'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users/{apiUserUid}/apiToken/generate:
    post:
      tags:
      - Users
      summary: Generate Token for API-only user
      description: "Generate API Token for API-only user. API-only users are used\
        \ for building automations with CDO. If the user ID provided is not that of\
        \ an API-only user, this operation will fail."
      operationId: generateApiToken
      parameters:
      - name: apiUserUid
        in: path
        description: The unique identifier of the API-only user in CDO
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: API Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenInfo'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users/groups:
    get:
      tags:
      - Users
      summary: Get Active Directory Groups
      description: Get a list of active directory groups associated with the CDO tenant.
      operationId: getActiveDirectoryGroups
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      responses:
        "200":
          description: List of Active Directory Group objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryGroupPage'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Users
      summary: Create Active Directory Group in CDO Tenant
      description: Create an Active Directory Group in the CDO tenant.
      operationId: createActiveDirectoryGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveDirectoryGroupCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "201":
          description: Active Directory Group object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryGroup'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/token/revoke:
    post:
      tags:
      - Users
      summary: Revoke Token
      description: Revoke the current token. All subsequent requests with a revoked
        token will fail with 401 Unauthorized errors.
      operationId: revokeToken
      responses:
        "200":
          description: Revoke success
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/search/index:
    post:
      tags:
      - Search
      summary: Rebuild search index
      description: "Initiate Full Indexing on the CDO tenant, to improve accuracy\
        \ of search results. This operation is performed automatically on a schedule\
        \ by CDO, but can be triggered on demand too. This operation is asynchronous,\
        \ but its progress cannot be tracked using CDO's API."
      operationId: initiateFullIndexing
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the indexing operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/policies/asa/accessrules:
    get:
      tags:
      - ASA Access Rules
      summary: Get Access Rules
      description: Get a list of ASA Access Rules.
      operationId: listAccessRules
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of Access Rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRulePage'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - ASA Access Rules
      summary: Create Access Rule
      description: Create an Access Rule in the CDO tenant.
      operationId: createAccessRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRuleCreateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: CDO Access Rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRule'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/policies/asa/accessgroups:
    get:
      tags:
      - Access Groups
      summary: Get Access Groups
      description: Get a list of ASA Access Groups.
      operationId: listAccessGroups
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: List of Access Groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupPage'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Access Groups
      summary: Create Access Group
      description: Create an Access Group
      operationId: createAccessGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessGroupCreateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: CDO Access Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroup'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/msp/tenants:
    post:
      tags:
      - MSP
      summary: Add Tenant to MSP Portal (API token)
      description: "Add a tenant to the MSP Portal by providing an API token for the\
        \ tenant. Use this endpoint to add a tenant that the user performing the operation\
        \ is not associated with, or a tenant in a different region to that of the\
        \ MSP Portal. Note: This endpoint can only be executed by a super-admin in\
        \ an MSP Portal."
      operationId: addMspTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspAddTenantInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusInfo'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/msp/tenants/{tenantUid}:
    post:
      tags:
      - MSP
      summary: Add tenant to MSP Portal
      description: "This is an asynchronous operation to add an existing tenant that\
        \ the user making the API call is associated with to the MSP Portal. This\
        \ endpoint will add an API-only user to the tenant, generate an API token\
        \ for the API-only user, and add the tenant to the MSP Portal. Note: this\
        \ endpoint can only be executed by a super-admin in the MSP Portal who is\
        \ also associated with the tenant being added."
      operationId: addTenantToMspPortal
      parameters:
      - name: tenantUid
        in: path
        description: Unique identifier of the tenant to add to the MSP portal.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "409":
          $ref: '#/components/responses/http409Conflict'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/msp/tenants/{tenantUid}/users:
    post:
      tags:
      - MSP
      summary: Add users to CDO tenant in MSP Portal
      description: "This is an asynchronous operation to add a list of users to a\
        \ tenant associated with the MSP Portal. Note: this endpoint cannot be used\
        \ to add API-only users."
      operationId: addUsersToTenantInMspPortal
      parameters:
      - name: tenantUid
        in: path
        description: Unique identifier of the tenant to which the users will be added.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspAddUsersToTenantInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/msp/tenants/create:
    post:
      tags:
      - MSP
      summary: Create CDO Tenant
      description: "Create a new tenant in CDO from an MSP Portal. This endpoint creates\
        \ a tenant, adds the tenant to the MSP Portal. If the user creating the tenant\
        \ is not an API-only user, the user is also added to the tenant. Note: This\
        \ endpoint can only be executed by a super-admin in an MSP Portal. You can\
        \ create no more than 1 tenant every 30 seconds. Additionally, you are limited\
        \ to creating a total of 100 tenants: please speak to support to raise this\
        \ limit."
      operationId: createTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspCreateTenantInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the tenant creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "409":
          $ref: '#/components/responses/http409Conflict'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/managers/mcd:
    post:
      tags:
      - Inventory
      summary: Enable Multicloud Defense
      description: This is an asynchronous operation to Enable Multicloud Defense
        for the CDO tenant. This operation returns a link to a transaction object
        that can be used to monitor the progress of the operation.
      operationId: enableMulticloudDefense
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "409":
          $ref: '#/components/responses/http409Conflict'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/managers/cdfmc:
    post:
      tags:
      - Inventory
      summary: Provision cdFMC
      description: This is an asynchronous operation to provision a cloud-delivered
        FMC in a tenant. This operation can only be performed as a super-admin user.
      operationId: provisionCdFmc
      responses:
        "409":
          description: cdFMC already exists or is in the process of being provisioned.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ios:
    post:
      tags:
      - Inventory
      summary: Onboard IOS Device
      description: Onboard a IOS device in the CDO tenant. This operation returns
        a link to a transaction object that can be used to monitor the progress of
        the operation.
      operationId: onboardIosDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IosCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the onboarding operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ftds:
    post:
      tags:
      - Inventory
      summary: Create FTD device.
      description: "This is an asynchronous operation to create a cdFMC managed FTD\
        \ device in the CDO tenant. This operation returns a link to a transaction\
        \ object that can be used to monitor the progress of the operation. Onboarding\
        \ a cdFMC managed FTD device is a two-step process: the first step, handled\
        \ by this operation, creates an FTD device with a configure manager string\
        \ that must be pasted into the FTD device's Command-Line Interface. The FTD\
        \ then uses this information to register itself with the CDO tenant."
      operationId: createFtdDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FtdCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the creation operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ftds/register:
    post:
      tags:
      - Inventory
      summary: Register FTD device.
      description: Complete registration of an FTD device managed by an FMC to the
        CDO tenant. Call this API endpoint after you have created an FTD and pasted
        the generated CLI output in the FTD. This operation returns a link to a transaction
        object that can be used to monitor the progress of the operation.
      operationId: finishOnboardingFtdDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FtdRegistrationInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the creation operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ftds/cdfmcManaged/{deviceUid}/delete:
    post:
      tags:
      - Inventory
      summary: Delete cdFMC managed FTD device
      description: "This is an asynchronous operation to delete cdFMC managed FTD\
        \ device in the CDO tenant. This operation returns a link to a transaction\
        \ object that can be used to monitor the progress of the operation. The reason\
        \ this operation is asynchronous is because the device is first removed from\
        \ the cdFMC, following which it is deleted from the CDO tenant."
      operationId: deleteCdFmcManagedFtdDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the cdFMC managed FTD device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the deletion operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/duoAdminPanels:
    post:
      tags:
      - Inventory
      summary: Onboard Duo Admin Panel
      description: Onboard a Duo Admin Panel to the CDO tenant. The credentials to
        onboard the Duo Admin Panel to CDO must be generated by creating an Admin
        API application on https://www.duo.com. This operation returns a link to a
        transaction object that can be used to monitor the progress of the operation.
      operationId: createDuoAdminPanel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuoAdminPanelCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the onboarding operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas:
    post:
      tags:
      - Inventory
      summary: Onboard ASA device
      description: This is an asynchronous operation to onboard an ASA to a CDO tenant.
        This operation returns a link to a transaction object that can be used to
        monitor the progress of the operation.
      operationId: onboardAsaDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsaCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the onboarding operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/{deviceUid}/reconnect:
    post:
      tags:
      - Inventory
      summary: Reconnect ASA device
      description: This is an asynchronous operation to re-establish the connection
        between an ASA and the CDO cloud. This operation returns a link to a transaction
        object that can be used to monitor the progress of the operation.
      operationId: reconnectAsaDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the ASA device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the reconnecting operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/{deviceUid}/read:
    post:
      tags:
      - Inventory
      summary: Read ASA device configuration
      description: This is an asynchronous operation to read the latest configuration
        on an ASA device in to the CDO tenant. This operation returns a link to a
        transaction object that can be used to monitor the progress of the operation.
      operationId: readAsaDeviceConfiguration
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the ASA device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the read operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/{deviceUid}/deploy:
    post:
      tags:
      - Inventory
      summary: Deploy ASA device changes
      description: This is an asynchronous operation to deploy changes made to an
        ASA device's configuration on CDO to the device. This operation returns a
        link to a transaction object that can be used to monitor the progress of the
        operation.
      operationId: deployAsaDeviceChanges
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the ASA deploy operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/cli/execute:
    post:
      tags:
      - Inventory
      summary: Execute CLI Command
      description: This is an asynchronous operation to execute CLI commands in the
        CDO tenant.
      operationId: executeCliCommand
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliCommandInput'
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the execute CLI operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/cli/executeMacro:
    post:
      tags:
      - Inventory
      summary: Execute CLI Macro Command
      description: This is an asynchronous operation to execute CLI macro command
        in the CDO tenant.
      operationId: executeCliMacro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliMacroExecuteInput'
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the execute CLI operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/connectors/sdcs:
    get:
      tags:
      - Connectors
      summary: Get SDCs
      description: Get a list of on-prem SDCs in the CDO tenant.
      operationId: getSdcs
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of SDC objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdcPage'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Connectors
      summary: Create SDC
      description: This is an asynchronous operation to create an SDC to a CDO tenant.
        This operation returns a link to a transaction object that can be used to
        monitor the progress of the operation.
      operationId: createSdc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SdcCreateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the creation operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/cli/macros:
    get:
      tags:
      - Command Line Interface
      summary: Get CLI Macros
      description: "Get a list of CLI macros. A CLI macro is a fully-formed CLI command\
        \ ready to use, or a template of a CLI command you can modify before you run\
        \ it."
      operationId: getCliMacros
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of CDO CLI macros
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacroPage'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Command Line Interface
      summary: Create CLI Macro
      description: "Create a CLI macro, which is a fully-formed CLI command ready\
        \ to use or a template of a CLI command you can modify before you run it."
      operationId: createCliMacro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliMacroCreateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: CDO CLI macro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacro'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/changeRequests:
    get:
      tags:
      - Change Requests
      summary: Get Change Requests
      description: Get a list of Change Requests.
      operationId: getChangeRequests
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of Change Request objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRequestPage'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Change Requests
      summary: Create Change Request
      description: Create a Change Request in the CDO tenant.
      operationId: createChangeRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreateInput'
        required: true
      responses:
        "201":
          description: Created change Request object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRequest'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/ai-assistant/conversations:
    get:
      tags:
      - AI Assistant
      summary: Get Conversations
      description: "Get a list of AI Assistant Conversations. Note: the total number\
        \ of conversations is set to -1 as this information is currently unavailable."
      operationId: getConversations
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: List of Conversations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAssistantConversationPage'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - AI Assistant
      summary: Ask AI Assistant (New Conversation)
      description: Start a new conversation with the AI Assistant by asking a question.
      operationId: askAiAssistantInNewConversation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiQuestion'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/ai-assistant/conversations/{conversationUid}:
    get:
      tags:
      - AI Assistant
      summary: Get Conversation
      description: Get an AI Assistant conversation by UID in the CDO tenant.
      operationId: getConversation
      parameters:
      - name: conversationUid
        in: path
        description: The unique identifier of the conversation in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Conversation object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiConversation'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - AI Assistant
      summary: Ask AI Assistant (Existing Conversation)
      description: Ask the AI Assistant a question in the context of an existing conversation
        with the AI Assistant.
      operationId: askAiAssistantInExistingConversation
      parameters:
      - name: conversationUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiQuestion'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users/groups/{groupUid}:
    get:
      tags:
      - Users
      summary: Get Active Directory Group
      description: Fetch a active directory group by UID in the CDO tenant.
      operationId: getActiveDirectoryGroup
      parameters:
      - name: groupUid
        in: path
        description: The unique identifier of the active directory group in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: Active Directory Group object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryGroup'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Users
      summary: Remove Active Directory Group from CDO Tenant
      description: Delete a Active Directory Group by UID in the CDO tenant.
      operationId: deleteActiveDirectoryGroup
      parameters:
      - name: groupUid
        in: path
        description: The unique identifier of the Active Directory Group in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Users
      summary: Modify Active Directory Group
      description: Modify an Active Directory Group by UID.
      operationId: modifyActiveDirectoryGroup
      parameters:
      - name: groupUid
        in: path
        description: The unique identifier of the active directory group in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveDirectoryGroupCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: Active Directory Group object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryGroup'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/settings/tenant:
    get:
      tags:
      - Tenant Management
      summary: Get Tenant Settings
      description: Get the settings for the CDO tenant.
      operationId: getTenantSettings
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Tenant Settings Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Tenant Management
      summary: Modify Tenant Settings
      description: Modify the settings for the CDO tenant.
      operationId: modifyTenantSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSettings'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Tenant Settings Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/policies/asa/accessrules/{accessRuleUid}:
    get:
      tags:
      - ASA Access Rules
      summary: Get Access Rule
      description: Get a single ASA Access Rule by UUID.
      operationId: fetchAccessRule
      parameters:
      - name: accessRuleUid
        in: path
        description: The unique identifier of the Access Rule in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: Access Rule object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRule'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - ASA Access Rules
      summary: Delete Access Rule
      description: Delete Access Rule by UID in the CDO tenant.
      operationId: deleteAccessRule
      parameters:
      - name: accessRuleUid
        in: path
        description: The unique identifier of the Access Rule in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - ASA Access Rules
      summary: Modify ASA Access Rule
      description: Modify an Access Rule in the CDO tenant by UID.
      operationId: modifyAccessRule
      parameters:
      - name: accessRuleUid
        in: path
        description: The unique identifier of the CDO Access Rule.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRuleUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: CDO Access Rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRule'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/policies/asa/accessgroups/{accessGroupUid}:
    get:
      tags:
      - Access Groups
      summary: Get Access Group
      description: Get a single ASA Access Group by UUID.
      operationId: fetchAccessGroup
      parameters:
      - name: accessGroupUid
        in: path
        description: The unique identifier of the Access Group in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Access Group object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroup'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Access Groups
      summary: Delete Access Group
      description: Delete Access Group by UID in the CDO tenant.
      operationId: deleteAccessGroup
      parameters:
      - name: accessGroupUid
        in: path
        description: The unique identifier of the Access Group in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Access Groups
      summary: Modify ASA Access Group
      description: Modify CDO Access Group by UID.
      operationId: patchAccessGroup
      parameters:
      - name: accessGroupUid
        in: path
        description: The unique identifier of the CDO Access Group.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessGroupUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: CDO Access Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroup'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/templates/{templateDeviceUid}:
    get:
      tags:
      - Inventory
      summary: Get Template Device
      description: Get a template device by UID in the CDO tenant.
      operationId: getTemplateDevice
      parameters:
      - name: templateDeviceUid
        in: path
        description: The unique identifier of the template device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Template Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Template Device
      description: Delete a template device by UID in the CDO tenant.
      operationId: deleteTemplateDevice
      parameters:
      - name: templateDeviceUid
        in: path
        description: The unique identifier of the template device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Template Device
      description: Modify a template device in the CDO tenant.
      operationId: modifyTemplateDevice
      parameters:
      - name: templateDeviceUid
        in: path
        description: The unique identifier of the template device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Template Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/services/{cloudServiceUid}:
    get:
      tags:
      - Inventory
      summary: Get Cloud Service
      description: Get a Cloud Service by UID in the CDO tenant.
      operationId: getCloudService
      parameters:
      - name: cloudServiceUid
        in: path
        description: The unique identifier of the cloud service in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Cloud Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Cloud Service
      description: Delete a Cloud Service by UID in the CDO tenant.
      operationId: deleteCloudService
      parameters:
      - name: cloudServiceUid
        in: path
        description: The unique identifier of the cloud service in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Cloud Service
      description: Modify a Cloud Service by UID in the CDO tenant.
      operationId: modifyCloudService
      parameters:
      - name: cloudServiceUid
        in: path
        description: The unique identifier of the cloud service in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Cloud Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/managers/{deviceManagerUid}:
    get:
      tags:
      - Inventory
      summary: Get Device Manager
      description: Get a Device Manager by UID in the CDO tenant.
      operationId: getDeviceManager
      parameters:
      - name: deviceManagerUid
        in: path
        description: The unique identifier of the device manager in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Device Manager
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Device Manager
      description: Delete a Device Manager by UID in the CDO tenant.
      operationId: deleteDeviceManager
      parameters:
      - name: deviceManagerUid
        in: path
        description: The unique identifier of the device manager in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Device Manager
      description: Modify a device manager by UID in the CDO tenant.
      operationId: modifyDeviceManager
      parameters:
      - name: deviceManagerUid
        in: path
        description: The unique identifier of the device manager in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Device manager
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/{deviceUid}:
    get:
      tags:
      - Inventory
      summary: Get Device
      description: Get a device by UID in the CDO tenant
      operationId: getDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Device
      description: Delete a device by UID in the CDO tenant. On-prem FMCs and cloud-delivered
        FMCs cannot be deleted using this endpoint.
      operationId: deleteDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Device
      description: Modify a device in the CDO tenant
      operationId: modifyDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/connectors/sdcs/{sdcUid}:
    get:
      tags:
      - Connectors
      summary: Get SDC
      description: Get a SDC by UID in the CDO tenant.
      operationId: getSdc
      parameters:
      - name: sdcUid
        in: path
        description: The unique identifier of the SDC in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: SDC object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sdc'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Connectors
      summary: Delete SDC
      description: Delete an SDC in the CDO tenant
      operationId: deleteSdc
      parameters:
      - name: sdcUid
        in: path
        description: The unique identifier of the SDC in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Connectors
      summary: Modify SDC
      description: Modify a SDC in the CDO tenant
      operationId: modifySdc
      parameters:
      - name: sdcUid
        in: path
        description: The unique identifier of the SDC in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SdcPatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: SDC object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sdc'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/cli/macros/{macroUid}:
    get:
      tags:
      - Command Line Interface
      summary: Get CLI Macro
      description: Get a CDO CLI Macro by UID.
      operationId: getCliMacro
      parameters:
      - name: macroUid
        in: path
        description: The unique identifier of the CDO CLI macro in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: CDO CLI macro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacro'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Command Line Interface
      summary: Delete CLI Macro
      description: Delete a CDO CLI Macro by UID.
      operationId: deleteCliMacro
      parameters:
      - name: macroUid
        in: path
        description: The unique identifier of the CDO CLI macro in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: CDO CLI macro
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Command Line Interface
      summary: Modify CLI Macro
      description: Modify a CDO CLI Macro by UID.
      operationId: modifyCliMacro
      parameters:
      - name: macroUid
        in: path
        description: The unique identifier of the CDO CLI macro in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliMacroPatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: CDO CLI macro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacro'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions:
    get:
      tags:
      - Remote Access Monitoring
      summary: Get RA VPN Sessions
      description: Get a list of RA VPN sessions.
      operationId: getRaVpnSessions
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of RA VPN Sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaVpnSessionPage'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/{raVpnSessionUid}:
    get:
      tags:
      - Remote Access Monitoring
      summary: Get RA VPN Session
      description: Get a RA VPN session by UID in the CDO tenant.
      operationId: getRaVpnSession
      parameters:
      - name: raVpnSessionUid
        in: path
        description: The unique identifier of the RA VPN session in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
[...]
