openapi: 3.0.1
info:
  title: CDO API
  description: Use the documentation to explore the endpoints CDO has to offer
  contact:
    name: CDO TAC
    email: cdo.tac@cisco.com
  version: 1.1.0
servers:
- url: https://edge.us.cdo.cisco.com/api/rest
  description: US
- url: https://edge.eu.cdo.cisco.com/api/rest
  description: EU
- url: https://edge.apj.cdo.cisco.com/api/rest
  description: APJ
- url: https://edge.aus.cdo.cisco.com/api/rest
  description: AUS
- url: https://edge.in.cdo.cisco.com/api/rest
  description: IN
- url: https://edge.staging.cdo.cisco.com/api/rest
  description: Staging
- url: https://edge.scale.cdo.cisco.com/api/rest
  description: Scale
- url: https://edge.ci.cdo.cisco.com/api/rest
  description: CI
paths:
  /v1/cdfmc/**:
    get:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    put:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_2
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_1
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_4
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Cloud-delivered FMC
      summary: Proxy Request To Cloud-Delivered FMC
      description: This endpoint proxies the request to the Cloud-Delivered FMC (cdFMC).
        Refer to the <a href="https://www.cisco.com/c/en/us/td/docs/security/firepower/730/Rapid-Release/API/CDO/cloud_delivered_firewall_management_center_rest_api_quick_start_guide/About_The_API_Explorer.html">cdFMC
        API Explorer in CDO</a> for the list of available endpoints. You can append
        the relative API paths provided in the cdFMC API documentation to the `/v1/cdfmc`
        URL to make requests to the cdFMC in your CDO tenant. <b>Note:</b> These endpoints
        will return 404 if the CDO tenant does not have a cdFMC provisioned.
      operationId: proxyFmcRequest_3
      responses:
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/{deviceUid}/terminate:
    post:
      tags:
      - Remote Access Monitoring
      summary: Terminate RA VPN Sessions
      description: This is an asynchronous operation to terminate all RA VPN sessions
        on a device in the CDO tenant. This operation returns a link to a transaction
        object that can be used to monitor the progress of the operation.
      operationId: terminateRaVpnSessionsByDevice
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the termination operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/{deviceUid}/terminate/{userName}:
    post:
      tags:
      - Remote Access Monitoring
      summary: Terminate User's RA VPN Sessions
      description: This is an asynchronous operation to terminate all of a user's
        RA VPN sessions on a device in the CDO tenant. This operation returns a link
        to a transaction object that can be used to monitor the progress of the operation.
      operationId: terminateRaVpnSessionsByDeviceAndUserName
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: userName
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the termination operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/refresh:
    post:
      tags:
      - Remote Access Monitoring
      summary: Refresh RA VPN Sessions
      description: This is an asynchronous operation to refresh RA VPN sessions for
        all devices in the CDO tenant.
      operationId: refreshRaVpnSessionsByDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RaVpnDeviceInput'
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the refresh operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users:
    get:
      tags:
      - Users
      summary: Get Tenant Users
      description: Get a list of users associated with the CDO tenant.
      operationId: getUsers
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of User objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Users
      summary: Create User in CDO Tenant
      description: "Create a user in the CDO tenant. The user may already exist and\
        \ have access to other tenants, in which case this endpoint adds the user\
        \ to this tenant."
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users/{apiUserId}/apiToken/revoke:
    post:
      tags:
      - Users
      summary: Revoke API-only User's Token
      description: "Revoke API Token of API-only user. If the user ID provided is\
        \ not that of an API-only user, this operation will fail."
      operationId: revokeApiToken
      parameters:
      - name: apiUserId
        in: path
        description: The unique identifier of the API user in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusInfo'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users/{apiUserId}/apiToken/generate:
    post:
      tags:
      - Users
      summary: Generate Token for API-only user
      description: "Generate API Token for API-only user. API-only users are used\
        \ for building automations with CDO. If the user ID provided is not that of\
        \ an API-only user, this operation will fail."
      operationId: generateApiToken
      parameters:
      - name: apiUserId
        in: path
        description: The unique identifier of the API-only user in CDO
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: API Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenInfo'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/token/revoke:
    post:
      tags:
      - Users
      summary: Revoke Token
      description: Revoke the current token. All subsequent requests with a revoked
        token will fail with 401 Unauthorized errors.
      operationId: revokeToken
      responses:
        "200":
          description: Revoke success
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/search/index:
    post:
      tags:
      - Search
      summary: Rebuild search index
      description: "Initiate Full Indexing on the CDO tenant, to improve accuracy\
        \ of search results. This operation is performed automatically on a schedule\
        \ by CDO, but can be triggered on demand too. This operation is asynchronous,\
        \ but its progress cannot be tracked using CDO's API."
      operationId: initiateFullIndexing
      responses:
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the indexing operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/msp/tenants:
    post:
      tags:
      - Tenant Management
      summary: Add Tenant to MSP Portal
      description: Add a tenant to the MSP Portal. This endpoint requires that the
        token provided is that of an MSP tenant.
      operationId: addMspTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspAddTenantInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusInfo'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ios:
    post:
      tags:
      - Inventory
      summary: Onboard IOS Device
      description: Onboard a IOS device in the CDO tenant. This operation returns
        a link to a transaction object that can be used to monitor the progress of
        the operation.
      operationId: onboardIosDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IosCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the onboarding operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ftds:
    post:
      tags:
      - Inventory
      summary: Create FTD device.
      description: "This is an asynchronous operation to create a cdFMC managed FTD\
        \ device in the CDO tenant. This operation returns a link to a transaction\
        \ object that can be used to monitor the progress of the operation. Onboarding\
        \ a cdFMC managed FTD device is a two-step process: the first step, handled\
        \ by this operation, creates an FTD device with a configure manager string\
        \ that must be pasted into the FTD device's Command-Line Interface. The FTD\
        \ then uses this information to register itself with the CDO tenant."
      operationId: createFtdDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FtdCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the creation operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ftds/register:
    post:
      tags:
      - Inventory
      summary: Register FTD device.
      description: Complete registration of an FTD device managed by an FMC to the
        CDO tenant. Call this API endpoint after you have created an FTD and pasted
        the generated CLI output in the FTD. This operation returns a link to a transaction
        object that can be used to monitor the progress of the operation.
      operationId: finishOnboardingFtdDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FtdRegistrationInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the creation operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/ftds/cdfmcManaged/{deviceUid}/delete:
    post:
      tags:
      - Inventory
      summary: Delete cdFMC managed FTD device
      description: "This is an asynchronous operation to delete cdFMC managed FTD\
        \ device in the CDO tenant. This operation returns a link to a transaction\
        \ object that can be used to monitor the progress of the operation. The reason\
        \ this operation is asynchronous is because the device is first removed from\
        \ the cdFMC, following which it is deleted from the CDO tenant."
      operationId: deleteCdFmcManagedFtdDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the cdFMC managed FTD device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the deletion operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/duoAdminPanels:
    post:
      tags:
      - Inventory
      summary: Onboard Duo Admin Panel
      description: Onboard a Duo Admin Panel to the CDO tenant. The credentials to
        onboard the Duo Admin Panel to CDO must be generated by creating an Admin
        API application on https://www.duo.com. This operation returns a link to a
        transaction object that can be used to monitor the progress of the operation.
      operationId: createDuoAdminPanel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuoAdminPanelCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the onboarding operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas:
    post:
      tags:
      - Inventory
      summary: Onboard ASA device
      description: This is an asynchronous operation to onboard an ASA to a CDO tenant.
        This operation returns a link to a transaction object that can be used to
        monitor the progress of the operation.
      operationId: onboardAsaDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsaCreateOrUpdateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the onboarding operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/{deviceUid}/reconnect:
    post:
      tags:
      - Inventory
      summary: Reconnect ASA device
      description: This is an asynchronous operation to re-establish the connection
        between an ASA and the CDO cloud. This operation returns a link to a transaction
        object that can be used to monitor the progress of the operation.
      operationId: reconnectAsaDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the ASA device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the reconnecting operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/{deviceUid}/read:
    post:
      tags:
      - Inventory
      summary: Read ASA device configuration
      description: This is an asynchronous operation to read the latest configuration
        on an ASA device in to the CDO tenant. This operation returns a link to a
        transaction object that can be used to monitor the progress of the operation.
      operationId: readAsaDeviceConfiguration
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the ASA device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the read operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/{deviceUid}/deploy:
    post:
      tags:
      - Inventory
      summary: Deploy ASA device changes
      description: This is an asynchronous operation to deploy changes made to an
        ASA device's configuration on CDO to the device. This operation returns a
        link to a transaction object that can be used to monitor the progress of the
        operation.
      operationId: deployAsaDeviceChanges
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the ASA deploy operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/cli/execute:
    post:
      tags:
      - Inventory
      summary: Execute CLI Command
      description: This is an asynchronous operation to execute CLI commands in the
        CDO tenant.
      operationId: executeCliCommand
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliCommandInput'
      responses:
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the execute CLI operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/asas/cli/executeMacro:
    post:
      tags:
      - Inventory
      summary: Execute CLI Macro Command
      description: This is an asynchronous operation to execute CLI macro command
        in the CDO tenant.
      operationId: executeCliMacro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliMacroExecuteInput'
      responses:
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the execute CLI operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/connectors/sdcs:
    get:
      tags:
      - Connectors
      summary: Get SDCs
      description: Get a list of on-prem SDCs in the CDO tenant.
      operationId: getSdcs
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: List of SDC objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdcPage'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Connectors
      summary: Create SDC
      description: This is an asynchronous operation to create an SDC to a CDO tenant.
        This operation returns a link to a transaction object that can be used to
        monitor the progress of the operation.
      operationId: createSdc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SdcCreateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the progress
            of the creation operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/cli/macros:
    get:
      tags:
      - Command Line Interface
      summary: Get CLI Macros
      description: "Get a list of CLI macros. A CLI macro is a fully-formed CLI command\
        \ ready to use, or a template of a CLI command you can modify before you run\
        \ it."
      operationId: getCliMacros
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "200":
          description: List of CDO CLI macros
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacroPage'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Command Line Interface
      summary: Create CLI Macro
      description: "Create a CLI macro, which is a fully-formed CLI command ready\
        \ to use or a template of a CLI command you can modify before you run it."
      operationId: createCliMacro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliMacroCreateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: CDO CLI macro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacro'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/changeRequests:
    get:
      tags:
      - Change Requests
      summary: Get Change Requests
      description: Get a list of Change Requests.
      operationId: getChangeRequests
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of Change Request objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRequestPage'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Change Requests
      summary: Create Change Request
      description: Create a Change Request in the CDO tenant.
      operationId: createChangeRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRequestCreateInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "201":
          description: Created change Request object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRequest'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/ai-assistant/conversations:
    get:
      tags:
      - AI Assistant
      summary: Get Conversations
      description: "Get a list of AI Assistant Conversations. Note: the total number\
        \ of conversations is set to -1 as this information is currently unavailable."
      operationId: getConversations
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of Conversations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAssistantConversationPage'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - AI Assistant
      summary: Ask AI Assistant (New Conversation)
      description: Start a new conversation with the AI Assistant by asking a question.
      operationId: askAiAssistantInNewConversation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiQuestion'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/ai-assistant/conversations/{conversationUid}:
    get:
      tags:
      - AI Assistant
      summary: Get Conversation
      description: Get an AI Assistant conversation by UID in the CDO tenant.
      operationId: getConversation
      parameters:
      - name: conversationUid
        in: path
        description: The unique identifier of the conversation in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: Conversation object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiConversation'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    post:
      tags:
      - AI Assistant
      summary: Ask AI Assistant (Existing Conversation)
      description: Ask the AI Assistant a question in the context of an existing conversation
        with the AI Assistant.
      operationId: askAiAssistantInExistingConversation
      parameters:
      - name: conversationUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiQuestion'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "202":
          description: CDO Transaction object that can be used to track the status
            of the question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/settings/tenant:
    get:
      tags:
      - Tenant Management
      summary: Get Tenant Settings
      description: Get the settings for the CDO tenant.
      operationId: getTenantSettings
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Tenant Settings Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Tenant Management
      summary: Modify Tenant Settings
      description: Modify the settings for the CDO tenant.
      operationId: modifyTenantSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSettings'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Tenant Settings Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/templates/{templateDeviceUid}:
    get:
      tags:
      - Inventory
      summary: Get Template Device
      description: Get a template device by UID in the CDO tenant.
      operationId: getTemplateDevice
      parameters:
      - name: templateDeviceUid
        in: path
        description: The unique identifier of the template device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: Template Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Template Device
      description: Delete a template device by UID in the CDO tenant.
      operationId: deleteTemplateDevice
      parameters:
      - name: templateDeviceUid
        in: path
        description: The unique identifier of the template device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Template Device
      description: Modify a template device in the CDO tenant.
      operationId: modifyTemplateDevice
      parameters:
      - name: templateDeviceUid
        in: path
        description: The unique identifier of the template device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: Template Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/services/{cloudServiceUid}:
    get:
      tags:
      - Inventory
      summary: Get Cloud Service
      description: Get a Cloud Service by UID in the CDO tenant.
      operationId: getCloudService
      parameters:
      - name: cloudServiceUid
        in: path
        description: The unique identifier of the cloud service in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Cloud Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Cloud Service
      description: Delete a Cloud Service by UID in the CDO tenant.
      operationId: deleteCloudService
      parameters:
      - name: cloudServiceUid
        in: path
        description: The unique identifier of the cloud service in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Cloud Service
      description: Modify a Cloud Service by UID in the CDO tenant.
      operationId: modifyCloudService
      parameters:
      - name: cloudServiceUid
        in: path
        description: The unique identifier of the cloud service in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Cloud Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/managers/{deviceManagerUid}:
    get:
      tags:
      - Inventory
      summary: Get Device Manager
      description: Get a Device Manager by UID in the CDO tenant.
      operationId: getDeviceManager
      parameters:
      - name: deviceManagerUid
        in: path
        description: The unique identifier of the device manager in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: Device Manager
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Device Manager
      description: Delete a Device Manager by UID in the CDO tenant.
      operationId: deleteDeviceManager
      parameters:
      - name: deviceManagerUid
        in: path
        description: The unique identifier of the device manager in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Device Manager
      description: Modify a device manager by UID in the CDO tenant.
      operationId: modifyDeviceManager
      parameters:
      - name: deviceManagerUid
        in: path
        description: The unique identifier of the device manager in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "200":
          description: Device manager
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices/{deviceUid}:
    get:
      tags:
      - Inventory
      summary: Get Device
      description: Get a device by UID in the CDO tenant
      operationId: getDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Inventory
      summary: Delete Device
      description: Delete a device by UID in the CDO tenant. On-prem FMCs and cloud-delivered
        FMCs cannot be deleted using this endpoint.
      operationId: deleteDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Inventory
      summary: Modify Device
      description: Modify a device in the CDO tenant
      operationId: modifyDevice
      parameters:
      - name: deviceUid
        in: path
        description: The unique identifier of the device in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: Device object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/connectors/sdcs/{sdcUid}:
    get:
      tags:
      - Connectors
      summary: Get SDC
      description: Get a SDC by UID in the CDO tenant.
      operationId: getSdc
      parameters:
      - name: sdcUid
        in: path
        description: The unique identifier of the SDC in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: SDC object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sdc'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Connectors
      summary: Delete SDC
      description: Delete an SDC in the CDO tenant
      operationId: deleteSdc
      parameters:
      - name: sdcUid
        in: path
        description: The unique identifier of the SDC in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Connectors
      summary: Modify SDC
      description: Modify a SDC in the CDO tenant
      operationId: modifySdc
      parameters:
      - name: sdcUid
        in: path
        description: The unique identifier of the SDC in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SdcPatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: SDC object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sdc'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/cli/macros/{macroUid}:
    get:
      tags:
      - Command Line Interface
      summary: Get CLI Macro
      description: Get a CDO CLI Macro by UID.
      operationId: getCliMacro
      parameters:
      - name: macroUid
        in: path
        description: The unique identifier of the CDO CLI macro in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: CDO CLI macro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacro'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Command Line Interface
      summary: Delete CLI Macro
      description: Delete a CDO CLI Macro by UID.
      operationId: deleteCliMacro
      parameters:
      - name: macroUid
        in: path
        description: The unique identifier of the CDO CLI macro in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: CDO CLI macro
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Command Line Interface
      summary: Modify CLI Macro
      description: Modify a CDO CLI Macro by UID.
      operationId: modifyCliMacro
      parameters:
      - name: macroUid
        in: path
        description: The unique identifier of the CDO CLI macro in CDO.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliMacroPatchInput'
        required: true
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: CDO CLI macro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliMacro'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions:
    get:
      tags:
      - Remote Access Monitoring
      summary: Get RA VPN Sessions
      description: Get a list of RA VPN sessions.
      operationId: getRaVpnSessions
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: List of RA VPN Sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaVpnSessionPage'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/vpnsessions/{raVpnSessionUid}:
    get:
      tags:
      - Remote Access Monitoring
      summary: Get RA VPN Session
      description: Get a RA VPN session by UID in the CDO tenant.
      operationId: getRaVpnSession
      parameters:
      - name: raVpnSessionUid
        in: path
        description: The unique identifier of the RA VPN session in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "200":
          description: RA VPN Session object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaVpnSession'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/users/{userUid}:
    get:
      tags:
      - Users
      summary: Get Tenant User
      description: Fetch a user by UID in the CDO tenant. This will only return 200
        responses for users associated with the CDO tenant.
      operationId: getUser
      parameters:
      - name: userUid
        in: path
        description: The unique identifier of the user in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Users
      summary: Remove User from CDO Tenant
      description: "Delete a User by UID in the CDO tenant. If the user is associated\
        \ with multiple tenants, they will continue to have access to every other\
        \ tenant."
      operationId: deleteUser
      parameters:
      - name: userUid
        in: path
        description: The unique identifier of the user in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "204":
          description: No Content
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/transactions/{transactionUid}:
    get:
      tags:
      - Transactions
      summary: Get Transaction
      description: "Get information of an in-progress CDO transaction. A CDO transaction\
        \ is an entity used to monitor progress of, and provide feedback on, long-running\
        \ operations. All asynchronous operations in CDO's API create CDO transactions."
      operationId: getTransaction
      parameters:
      - name: transactionUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "202":
          description: CDO Transaction that is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: "CDO Transaction that has completed, either successfully or\
            \ unsuccessfully. Note: failed CDO Transactions do not roll back."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/token:
    get:
      tags:
      - Users
      summary: Get Token Info
      description: Fetch information on the current token. Each CDO token is associated
        with a specific user and a specific tenant. A token can only be used to perform
        operations on the tenant it is associated with.
      operationId: getToken
      responses:
        "200":
          description: Token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTokenInfo'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/tenants:
    get:
      tags:
      - Tenant Management
      summary: Get Tenants
      description: Get a list of tenants with which the CDO user is associated.
      operationId: getTenants
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of Tenant Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantPage'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/tenants/{tenantUid}:
    get:
      tags:
      - Tenant Management
      summary: Get Tenant
      description: Fetch a tenant by UID in CDO. This will return a 200 response only
        if the user is associated with the tenant.
      operationId: getTenant
      parameters:
      - name: tenantUid
        in: path
        description: The unique identifier of the tenant in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: Tenant Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/search:
    get:
      tags:
      - Search
      summary: Search
      description: "Search for devices, services, managers, objects and policies across\
        \ the CDO tenant."
      operationId: search
      parameters:
      - name: q
        in: query
        description: "This can be any non-empty string, and represents the search\
          \ criteria. Spaces are allowed, but must be URL encoded."
        required: true
        schema:
          type: string
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: Search Result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalSearchResult'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/regions:
    get:
      tags:
      - Meta
      summary: Get CDO Regions
      description: Get the list of regions that CDO is deployed in.
      operationId: getRegions
      responses:
        "200":
          description: List of CDO regions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoRegionList'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
  /v1/mfaevents:
    get:
      tags:
      - Remote Access Monitoring
      summary: Get MFA Events
      description: Get a list of MFA events.
      operationId: getMfaEvents
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of MFA events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaEventPage'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/mfaevents/{mfaEventUid}:
    get:
      tags:
      - Remote Access Monitoring
      summary: Get MFA Event
      description: Get a MFA event by UID in the CDO tenant.
      operationId: getMfaEvent
      parameters:
      - name: mfaEventUid
        in: path
        description: The unique identifier of the MFA event in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "200":
          description: MFA Event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaEvent'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/meta:
    get:
      tags:
      - Meta
      summary: Get Meta information
      description: "Get Meta information about CDO, including the IP addresses of\
        \ CDO services."
      operationId: getMeta
      responses:
        "200":
          description: Meta information about CDO.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meta'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
  /v1/inventory/templates:
    get:
      tags:
      - Inventory
      summary: Get Template Devices
      description: Get a list of template devices in the CDO tenant.
      operationId: getTemplateDevices
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "200":
          description: List of Template Devices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePage'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/services:
    get:
      tags:
      - Inventory
      summary: Get Cloud Services
      description: Get a list of Cloud Services in the CDO tenant.
      operationId: getCloudServices
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "200":
          description: List of Cloud Services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePage'
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/managers:
    get:
      tags:
      - Inventory
      summary: Get Device Managers
      description: Fetch a list of Device Managers (on-prem FMCs and cloud-delivered
        FMCs) in the CDO tenant.
      operationId: getDeviceManagers
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of Device Manager objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePage'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/inventory/devices:
    get:
      tags:
      - Inventory
      summary: Get Devices
      description: Get a list of devices in the CDO tenant.
      operationId: getDevices
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: List of Device objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePage'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/features:
    get:
      tags:
      - Tenant Management
      summary: Get Feature Flags
      description: Get the feature flags enabled in the CDO tenant.
      operationId: getFeatureFlags
      responses:
        "200":
          description: Set of feature flags that are enabled for the user's tenant.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - feature-1
              - feature-2
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/cli/results:
    get:
      tags:
      - Command Line Interface
      summary: Get CLI Results
      description: "Get a list of results from command lines executed using the [CDO\
        \ Command Line Interface (CLI)](https://docs.defenseorchestrator.com/c-using-the-cdo-command-line-interface.html).\
        \ These commands can be executed using either the CDO UI or the API."
      operationId: getCliResults
      parameters:
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: "50"
      - name: offset
        in: query
        description: "The offset of the results retrieved. The CDO API uses the offset\
          \ field to determine the index of the first result retrieved, and will retrieve\
          \ `limit` results from the offset specified."
        required: false
        schema:
          minimum: 0
          type: string
          default: "0"
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct
          your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      - name: sort
        in: query
        description: The fields to sort results by.
        required: false
        schema:
          type: array
          items:
            type: string
        example: name:DESC
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "200":
          description: List of CDO CLI execution results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliResultPage'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
      security:
      - bearerAuth: []
  /v1/cli/results/{cliResultUid}:
    get:
      tags:
      - Command Line Interface
      summary: Get CLI Result
      description: Get the result of a command executed using the CDO Command Line
        Interface (CLI) by UID.
      operationId: getCliResult
      parameters:
      - name: cliResultUid
        in: path
        description: The unique identifier of the CDO CLI result in CDO.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "403":
          $ref: '#/components/responses/http403Forbidden'
        "404":
          $ref: '#/components/responses/http404NotFound'
        "405":
          $ref: '#/components/responses/http405MethodNotAllowed'
        "401":
          $ref: '#/components/responses/http401Unauthorised'
        "200":
          description: CDO CLI result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoCliResult'
        "400":
          $ref: '#/components/responses/http400BadRequest'
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
[...]
