name: build OpenAPI docs generation tool
on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5.2.0
        with:
          go-version: '1.23'

      - name: Install dependencies
        working-directory: scripts/golang
        run: |
          go mod tidy
          go install github.com/onsi/ginkgo/v2/ginkgo@latest

      - name: Run tests
        working-directory: scripts/golang
        run: |
          cd scripts/golang
          ginkgo -r

      - name: Release Snapshot
        uses: goreleaser/goreleaser-action@v6
        working-directory: scripts/golang
        with:
          version: snapshot
          args: release --snapshot

      - name: Archive Snapshots
        if: always()
        uses: actions/upload-artifact@v4.6.0
        working-directory: scripts/golang
        with:
          name: dist-snapshots
          path: dist/
